<p>Your verification code is:</p>
<h1>{{verificationCode}}</h1>
<p>This code will expire in 10 minutes.</p>
<font color='grey'>This email is sent automatically by the system, please do not
  reply.</font>